<h1>Add Transaction</h1>

<form id="form" class="form" action="/addTransaction" method="POST">
  <div class="quantity">
      <label for="howMuchMoney">0.00</label>    
  </div>

    <div>
      <label for="account">Choose account ></label>
    </div>

    <div>
  <input required type="text" name="addMerchant" placeholder="Add merchant">
    </div>

     <div>
      <label for="account">Category ></label>
    </div>

    <div class="number">
      <h3>1</h3>
    </div>
    <div class="number">
      <h3>2</h3>
    </div>
    <div class="number">
      <h3>3</h3>
    </div>
    <div class="number">
      <h3>4</h3>
    </div>
    <div class="number">
      <h3>5</h3>
    </div>
    <div class="number">
      <h3>6</h3>
    </div>
    <div class="number">
      <h3>7</h3>
    </div>

  

 
</form>