<h1>Add Transaction</h1>

<form id="form" class="form" action="/addTransaction" method="POST">
  <div class="quantity">
    <label id="howMuch" for="howMuchMoney">0.00</label>
  </div>

  <div>
    <label for="account">Choose account ></label>
    <select name="account" id="account">
      <option value="">Credit</option>
      <option value="">Debit</option>
      <option value="">Cash</option>
    </select>
  </div>

  <div>
    <input required type="text" name="addMerchant" placeholder="Add merchant">

  </div>

  <div>
    <label for="categoryInput">Category ></label> 
    <select name="categInput" id="spriteTypeInput">
          {{#each categObj.selector}}
          <option value="{{this.value}}">{{this.name}}</option>
          {{/each}}
        </select>
  </div>
  <div id="numbers-grid">
    <div class="btn btn-light waves-effect">
      <h3>1</h3>
    </div>
    <div class="btn btn-light waves-effect">
      <h3>2</h3>
    </div>
    <div class="btn btn-light waves-effect">
      <h3>3</h3>
    </div>
    <div class="btn btn-light waves-effect">
      <h3>4</h3>
    </div>
    <div class="btn btn-light waves-effect">
      <h3>5</h3>
    </div>
    <div class="btn btn-light waves-effect">
      <h3>6</h3>
    </div>
    <div class="btn btn-light waves-effect">
      <h3>7</h3>
    </div>
    <div class="btn btn-light waves-effect">
      <h3>8</h3>
    </div>
    <div class="btn btn-light waves-effect">
      <h3>9</h3>
    </div>
    <div class="btn btn-light waves-effect">
    </div>
    <div class="btn btn-light waves-effect">
      <h3>0</h3>
    </div>
    <div class="btn btn-light waves-effect">
    </div>
  </div>

</form>