<h1>List of Transactions</h1>

<ul>
  {{#each transaction}}
  <li><a href="/transactions/{{this._id}}">{{this.merchant}}</a> ................. Amount: ${{this.amount}}</li>
  <form action="/transaction/{{this._id}}/delete" method="POST">
  <button type="submit">
    Delete
  </button>
  </form>
  {{/each}}

</ul>

<a href="/add-transaction">Add transaction</a>