{{!-- views/auth-views/login.hbs --}}

{{!-- <h1>Login</h1>

<form id="form" class="form" action="/login" method="POST">
  <label for="username">Username</label><br>
  <input required type="text" name="username" placeholder="Your username">

  <label for="password">Password</label><br>
  <input required type="password" name="password" placeholder="********">

  {{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <button type="submit">Login</button>
  <a href="/reset">Forgot your password?</a>
</form> --}}

<div class="body"></div>
<div class="grad"></div>
<div class="header">
  <div>Mia<span>Wallet</span></div>
</div>
<br>
<div class="login">
  <form id="form" class="form" action="/login" method="POST">
    {{!-- <label for="firstName">First name</label><br> --}}
     <input required type="text" name="username" placeholder="Your username">
     <input required type="password" name="password" placeholder="********">

    {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}
    <button type="submit">LOGIN</button>
    <br>
    <a id="reset" href="/reset">Forgot your password?</a>
  </form>

  {{!-- 
				<input type="text" placeholder="username" name="user"><br>
				<input type="password" placeholder="password" name="password"><br> --}}
</div>