{{!-- views/auth-views/new-password.hbs --}}

<h1>Reset Your Password</h1>

<form id="form" class="form" action="/reset-password" method="POST">
  
  <label for="password">Password</label><br>
  <input required type="password" name="password" placeholder="********">

  {{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <button type="submit">Update Password</button>

</form>