{{!-- views/auth-views/new-password.hbs --}}
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Reset your Password</h5>
          <form class="form-signin" id="form" action="/reset-password" method="POST">
            <div class="form-label-group">
               <label for="password">Password</label>
              <input type="password" id="inputEmail" class="form-control" name="password" placeholder="Password" required>
              <label for="inputPassword"></label>
            </div>
            {{#if errorMessage}}
            <div class="error-message">{{ errorMessage }}</div>
            {{/if}}
            <button class="btn btn-lg btn-warning btn-block text-uppercase" type="submit">Update Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>