{{!-- views/auth-views/reset.hbs --}}

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Reset your Password</h5>
          <form class="form-signin" id="form" action="/reset" method="POST">
            <div class="form-label-group">
               <label for="email">Email</label>
              <input type="text" id="inputEmail" class="form-control" name="email" placeholder="Email" required>
              <label for="inputPassword"></label>
            </div>
            {{#if errorMessage}}
            <div class="error-message">{{ errorMessage }}</div>
            {{/if}}
            <button class="btn btn-lg btn-warning btn-block text-uppercase" type="submit">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>