{{!-- views/auth-views/signup.hbs --}}

<h1>Sign Up</h1>

<form id="form" class="form" action="/signup" method="POST">
  <div class="name">
    <div>
      <label for="firstName">First name</label><br>
      <input required type="text" name="firstName" placeholder="First name">
    </div>

    <div>
      <label for="lastName">Last name</label><br>
      <input required type="text" name="lastName" placeholder="Last name">
    </div>
  </div>

  <label for="username">Username</label><br>
  <input required type="text" name="username" placeholder="Your username">

  <label for="email">Email</label><br>
  <input required type="email" name="email" placeholder="email@example.com">

  <label for="password">Password</label><br>
  <input required type="password" name="password" placeholder="********">

  {{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <button type="submit">Create account</button>
</form>